.App{
  display: grid;
  grid-template-areas:
      "title title title"
      "tot tot tot"
      "auto auto auto"
      "budg trans trans"
      "save trans trans";
  grid-template-rows: 1fr 1fr 0fr 4fr 4fr;
  grid-template-columns: 2fr 2fr 2fr;
  height: 100vh;
}

body{
  height:100vh;
  margin:0;
  overflow:hidden;
}


.title-container{
  grid-area: title;
  display: flex;
  justify-content: space-around;
}

.budget-container, .savings-container  {
  display: flex;;
  flex-direction:column;
  border: 3px black solid;
  overflow-y:scroll;
}

.transaction-container{
  grid-area: trans;
  border: black 3px solid;
  overflow-y:scroll;


}



.budget, .savings {
  font-family: sans-serif;
  text-align: center;
}

.row-budget, .row-savings{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr auto;

}

.savings-name{
  width: 100%;
}

.savings-amount{
  grid-column-start: 2;
}


.title{
  display:flex;
  margin: auto;
  width: 50%;
  justify-content: space-between;
}

.dateTitle{
  border: 3px black solid;
  border-radius: 10px;
  padding:0.3em;
}

.date{
  border: 1px black solid;
}

.budget-titles, .transaction-titles{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr auto;
  align-content: center;
  height: 1.5em;
  font-size: small;
  text-align: center;
  background-color: #ededed;
  border: 1px black dotted;
}


.budget-titles > p:first-child{
  grid-column-start:1;
}

.budget-titles > p:nth-child(2){
  grid-column-start:2;
}

.budget-titles > p:nth-child(3){
  grid-column-start:3;
}

.budget h1 {
  border: 1px black solid;
}

.transaction-titles{
  grid-template-columns: 2fr 1.2fr 1fr 1fr;
}

.categoryamount {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
}

.categoryamount input {
  padding: auto;
  height: 100%;
}

.category {
  width: 100%;
  display: flex;
  height: 100%;
}

.categorydiv {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
}


.category-name {
  width:100%;
}


.amount-box, .savings-total {
  grid-column-start: 3;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.amount-children {
  margin: 0;
  height: 100%;
}

.newbutton, .newSavings {
  padding: 1em;
}



.newcat {
  grid-column-start: 1;
}

.deleteCat{
  grid-column-start: 4;
  display: flex;
  flex-direction: column;  
}
.deleteCat button{
  height:100%;
}

.total-amount {
    /* margin: auto; */
    /* margin-bottom: 2em; */
    /* width: 100%; */
    grid-area: tot;
}

.auto-transaction{
  grid-area: auto;
  margin: auto;
}
.budget-container{
  grid-area:budg;
}
.savings-container{
  grid-area: save
}
.totals-container {
  display: flex;
  background-color: lightgrey;
  justify-content: space-around;
  height: 100%;
  font-size: 2.6cqw;
  align-items: center;
  border: 2px black solid;
}

.transactions {
  display:flex;
  flex-direction: column-reverse;
}

.column {
  width: 100%;
}


.row-transaction, .auto-transaction {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 0.1fr;
  width: 100%;
}


.auto-container{
  grid-area:auto;
}

.autoTransaction{
  border: black solid 3px;
  background-color: lightgoldenrodyellow;
  padding: 2em;
}


.budgeted, .actual{
    /* border: 1px black solid; */
    display: flex;
    flex-basis: fit-content;
    /* height: 100%; */
    /* width: 100%; */
    text-align: center;
    margin: auto;
}