.budget {
  font-family: sans-serif;
  text-align: center;
  border: 1px black solid;
  display: grid;
  width: 65%;
  margin: auto;
  grid-template-columns: 1fr 2fr 1fr 1fr auto;
  grid-template-rows: auto auto;
}

.title{
  display:flex;
  margin: auto;
  width: 50%;
  justify-content: space-between;
}
.dateTitle{
  border: 3px black solid;
  border-radius: 10px;
}
.date{
  border: 1px black solid;
}

.budget > p:first-child{
  grid-row-start:1;
  grid-column-start:2;
}

.budget > p:nth-child(2){
  grid-row-start:1;
  grid-column-start:3;
}

.budget > p:nth-child(3){
  grid-row-start:1;
  grid-column-start:4;
}
.budget > p{
  height: 1em;
  font-size: small;
  padding: 0;
  padding-bottom: 0.5em;
  margin: 0;
  background-color: #ededed;
  border: 1px black dotted;
}
.budget h1 {
  border: 1px black solid;
}



.categoryamount {
  grid-column-start: 3;
  grid-row-start: 2;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
}

.categoryamount input {
  padding: auto;
  height: 100%;
}

.category {
  width: 100%;
  display: flex;
  height: 100%;
}

.categorydiv {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-row-start: 2;
  border: 1px black solid;
}


.category-name {
  width:100%;
}

.amount-box {
  grid-column-start: 4;
  grid-row-start: 2;
  border: 1px black solid;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

.amount-children {
  border: 1px black solid;
  margin: 0;
  height: 100%;
}

.newbutton {
  padding: 1em;
}

.newcat {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.deleteCat{
  grid-row-start: 2;
  grid-column-start: 5;
  display: flex;
  flex-direction: column;  
}
.deleteCat button{
  height:100%;
}

.total-amount {
  height: 100%;
  margin: auto;
  width: 60%;
  background-color: lightgrey;
  
}

.totals-container {
  display: flex;
  justify-content: space-evenly;
  border: 2px black solid;
}

.transactions {
  width: 80%;
  margin: auto;
  display:flex;
  flex-direction: column-reverse;
}

.column {
  width: 100%;
}


.row-transaction {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr;
  width: 100%;
}

.newrow {
  width: max-content;
  position: relative;
  top: 3em;
}


